body {
	border : 20px solid #bdc3c7;
	margin: 20px auto;
	padding: 3%;
	font-family: source sans pro; 
	max-width: 700px;
	width: 80%;
}
h4 {
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 400;
}
h1 { 
	color: #2c3e50;
    font-weight: 800;
    font-size: 2.0rem;
}

.qoute {
	border-left: 5px solid #bdc3c7;
	padding-left: 5px;
}
hr { 
	color: #bdc3c7;
	size: 2px;

}


hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
hr {
	margin-bottom: 20px;
}